replicaCount: 1

image:
  repository: ghcr.io/massimodanieli/circle-api
  tag: "main"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false
  className: nginx
  host: circle-api.local
  path: /
